backB 0
backG 255
backR 0
debug 0
fontB 255
fontG 255
fontName OMORI_GAME
fontNameSmall Arial
fontR 255
fontSize 36
fontSizeSmall 20
fontWidth 0
fontWidthSmall 0
hookMouse 1
keyboardFile omori.kb
looseB 0
looseG 0
looseR 0
mouseSensitivity 100
mouseSpeed1B 100
mouseSpeed1G 100
mouseSpeed1R 100
mouseSpeed2B 255
mouseSpeed2G 255
mouseSpeed2R 255
outline 1
outlineB 255
outlineG 255
outlinePressed 1
outlinePressedB 255
outlinePressedG 255
outlinePressedR 255
outlineR 255
pressedB 88
pressedFontB 255
pressedFontG 255
pressedFontR 255
pressedG 88
pressedR 88
scrollCounter 0
scrollHold 50
trapKB 0
trapMouse 0
x 517
y 283
